---
title: おめめのメ！
layout: layouts/home.njk
description: 猫や京都の写真、ゲームのレビューなどを中心とした個人ブログです。
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  猫の写真やゲームのレビューなどを中心とした個人ブログです。
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>